@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    /*background-image: url("images/fondoTKD.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;*/
    font-family: Calibri, SansSerif;
    text-align: center;
}

body.noScroll{
    overflow: hidden;
}

#fondo{
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: -10;
}

h1{
    font-family: 'Revalia', cursive;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 5px #a09608;
}

nav{
    text-align: center;
}

a{
    background: #fff408;
    padding: 7px 15px;
    display:inline-block;
    transform: skew(-20deg);
    box-shadow: grey 7px 5px 20px;
    font-family: 'Revalia', cursive;
    text-shadow: grey 1px 1px 1px;
    cursor: pointer;
    /*border: 2px solid #a19e48;*/
}

a:visited, a:hover, a:active, a:link{
    color: black;
    text-decoration: none;
}

a:hover{
    background: #a09608;
    font-weight: bolder;
}

a span{
    display:inline-block;
    transform: skew(20deg);
}

section{
    position: absolute;
    margin: 2em;
    right: 20px;
    width: 60%;
}

.login {
    background-color: black;
    color: white;
    border: 0px;
    margin: 0px;
    padding: 5px;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    z-index: 24;
}

.submenu a{
    margin: 5px 0px;
    background: #ffc508;
}

fieldset {
    background-color: rgba(256,256,256,0.9);
}

legend {
    background-color: rgba(256,256,256,0.9);
}

button.saveForm {
    margin: 20px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid;
}